langchain
langchain-community
langchain-openai
langchain-groq
langchain-huggingface
langchain-text-splitters
langgraph
faiss-cpu
streamlit
pypdf
python-dotenv
tavily-python
sentence-transformers
torch
torchvision
requests