langchain
langchain-community
langchain-openai
langchain-groq
langchain-huggingface
langgraph
faiss-cpu
streamlit
pypdf
python-dotenv
tavily-python
deep-translator
sentence-transformers
torch
scikit-learn
scipy
requests